<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="headerDiv">
  <h1>ETK<span style="color: rgb(72, 72, 146)">İ</span>NL<span style="color: rgb(72, 72, 146)">İ</span>Ğ<span style="color: rgb(72, 72, 146)">İ</span>N<span style="color: rgb(72, 72, 146)">İ</span>   BUL</h1>
</div>

  <p>
    <mat-toolbar class="toolbar">
      <div class="navDiv">
        <div class="navbarItems">
          <button mat-icon-button>
            <mat-icon>menu</mat-icon>
            <span class="navSpan" style="font-size:x-large;">Home</span>
          </button>
        </div>
        <div class="navbarItems">
          <button mat-icon-button>
            <mat-icon>access_alarms</mat-icon>
            <span class="navSpan">Geçmiş Etkinlikler</span>
          </button>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>share</mat-icon>
            <span class="navSpan">Paylaş</span>
          </button>
        </div>
        <div class= "searchbar">
            <button mat-icon-button>
              <mat-form-field>
                <input matInput placeholder="Arama" />
              </mat-form-field>
            </button>
        </div>
      </div> 

    </mat-toolbar>  
  </p>

</body>
</html>