<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="slider">
    <div id="slider-item-div" class="slider-content">
      <div class="slider-item" *ngFor="let item of popularEventsList">
        <a href="eventdetail/{{toLower(item.artist)}}">
          <img [src]="item.pics[0]" class="sliderImage">
        </a>
      </div>
    </div>
  </div>

  <div class="slide">
    <mat-slider
     #slidervalue
     (click)="showPopularEventOnClick(slidervalue.value)"
     tickInterval="1"
      step="1"
      min="1"     
      max="5"
    ></mat-slider>
  </div>

  <div class="searchEvents">
    <fieldset id="search">
      <div class="inline">
        <mat-form-field class="left">
          <mat-label>Başlangıç Tarihi</mat-label>
          <input [(ngModel)] = "startDate" matInput [matDatepicker]="startdate" />
          <mat-datepicker-toggle
            matSuffix
            [for]="startdate"
          ></mat-datepicker-toggle>
          <mat-datepicker #startdate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="right">
          <mat-label>Bitiş Tarihi</mat-label>
          <input [(ngModel)] = "endDate" matInput [matDatepicker]="enddate" />
          <mat-datepicker-toggle
            matSuffix
            [for]="enddate"
          ></mat-datepicker-toggle>
          <mat-datepicker #enddate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="inline">
        <div class="left">
          <mat-form-field class="left">
            <mat-label>Kategori</mat-label>
            <mat-select [(value)]="category">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="right withMargin">
            <mat-label>Şehir</mat-label>
            <mat-select [(value)]="city">
              <mat-option *ngFor="let city of cities" [value]="city">
                {{city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="right">
          <div class="left">
            <mat-form-field>
              <mat-label>Mekan</mat-label>
              <mat-select [(value)]="venue">
                <mat-option *ngFor="let venue of venues" [value]="venue">
                  {{venue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="right">
            <div class= "searchbar">
              <button mat-icon-button>
                  <mat-form-field>
                  <input #searchBarQuery (keyup.enter)="filterClick(searchBarQuery.value)" matInput placeholder="Sanatçı Ara" />
                  </mat-form-field>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="inline">
        <div class="left">
          <button (click)="filterClick('####')" mat-stroked-button color="primary">
            <mat-icon>filter_alt</mat-icon>
            <span>Filter</span>
          </button>
        </div>
      </div>
    </fieldset>
  </div>

  <br>
  <!-- routerLink="eventdetail" -->
  <div class="cardArea">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of intersectionList">
        <a href="eventdetail/{{toLower(item.artist)}}" >
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar style="background-size: cover;"></div>
              <mat-card-title  >{{item.artist}}</mat-card-title>
              <mat-card-subtitle fxLayout="row wrap" fxLayoutGap="16px grid">{{item.date}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="item.pics[0]">
            <mat-card-content>
              <p>
                {{item.venue}} adresinde sizlerle buluşuyor...
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>    
        </a>
      </div>
    </div>
  </div>
</body>
</html>

