.share-btn-container {
    background: rgb(220, 230, 241);
    height: 100%;
    width: fit-content;
    vertical-align: middle;
}

.share-btn-container a i {
    font-size: 30px;
    height: 100%;
    width:fit-content;
    vertical-align: middle;

}

.share-btn-container a {
    margin: 0px 6px;
    transition: 500ms;
    bottom: 0;
    vertical-align: middle;
}

.share-btn-container a:hover{
    transform: scale(1.2);
}

.share-btn-container .fa-facebook {
    color: #3b5998;
}

.share-btn-container .fa-twitter {
    color: #1da1f2;
}

.share-btn-container .fa-linkedin {
    color: #0077b5;
}

.share-btn-container .fa-pinterest {
    color: #bd081c;
}

.share-btn-container .fa-whatsapp {
    color: #25d366;
}

fieldset#search {
    width:auto;
    background: #F1F1F1;
    border: 0 none;
    border-bottom: 1px solid #CCC;
}

.headerDiv {
    height: 35px;
    background-color:rgb(167, 197, 16);
    text-align:center; 
    color: rgb(219, 219, 237);
    margin-bottom: 12px; 
    margin-top: 2%;
}

div.headerDiv > h1 {
    font-size: 55px;
    font-family: Aircaft; 
}

.navSpan {
    font-size: 15px;
    color: white;
    margin-left: 10px;
}

.navbarItems {
    margin-right: 150px;
}

.navDiv {
    display: flex;

    width: 100%;
    
}

.toolbar {
    background-color: rgb(72, 72, 146);
}

.searchbar {
    width: 50%;
    text-align: right
}

.inline {
    display: flex;
}

.left {
    display: flex;
    float: left;
    margin-right: 133px;
}

.right {
    display: flex;
    float: left;
}

.withMargin {
    margin-left: 21px
}

.slide {
    display: flex;
    justify-content:center
}


mat-slider {
    width: 20%;
}


.sliderImage {
    
    width: 500px;
    height: 300px;
}

.slider {
    
    position: relative;
    width: 500px;
    height: 300px;
    border: 1px solid rgb(99, 142, 203);
    margin: auto;
    overflow: hidden;
}

.slider-content {
    position: absolute;
    width: 500%;
    left: 0;
    animation: slide 20s infinite;
}

.slider-content:hover {
    animation-play-state: paused;
}

.slider-item {
    width: 20%;
    float: left;
}

mat-slider {
    width: 20%;
}

@keyframes slide {
    0%{
        transform: translateX(0px);
    }
    10%{
        transform: translateX(-500px);
    }
    20%{
        transform: translateX(-500px);
    }
    30%{
        transform: translateX(-1000px);
    }
    40%{
        transform: translateX(-1000px);
    }
    50%{
        transform: translateX(-1500px);
    }
    60%{
        transform: translateX(-1500px);
    }
    70%{
        transform: translateX(-2000px);
    }
    80%{
        transform: translateX(-2000px);
    }
    90%{
        transform: translateX(0px);
    }
}

.cardArea {
    padding: 16px;
}

@media only screen and (min-width: 200px) and (max-width: 768px)  {

    .headerDiv {
        width: auto;
        height: auto;

    }

    div.headerDiv h1 {
        font-size: 25px;
        font-family: Aircaft; 
        margin-left: 1%;
    
    }

    .sliderImage {
        height: 200px;
        width: 300px;
    }

    .slider{
        margin: auto;
        width: 300px;
        height:200px;
    }
    
    .slider-content {
        position: absolute;
        width: 500%;
        left: 0;
        animation: slide 20s infinite;
    }

    .slider-item {
        width: 20%;
        float: left;
    }
    
    mat-slider {
        width: 20%;
    }
    
    @keyframes slide {
        0%{
            transform: translateX(0px);
        }
        10%{
            transform: translateX(-300px);
        }
        20%{
            transform: translateX(-300px);
        }
        30%{
            transform: translateX(-600px);
        }
        40%{
            transform: translateX(-600px);
        }
        50%{
            transform: translateX(-900px);
        }
        60%{
            transform: translateX(-900px);
        }
        70%{
            transform: translateX(-2000px);
        }
        80%{
            transform: translateX(-2000px);
        }
        90%{
            transform: translateX(0px);
        }
    }
    
    .toolbar {
        width: auto;
        height: auto;
    }

    .navDiv {
        display:block;
    }

    .navSpan {
        font-size: 15px;
    }

    .searchbar {
        text-align:left;
    }

    .inline {
        display: block;
        width: 10px;
    }

    .left {
        display: block;
    }

    .right {
        display: block;
    }

    .withMargin {
        margin-left: 0px;
    }
    
    fieldset{
        display: block;
        height: auto;
    }

    .slide {
        display: flex;
        width: auto;   
    }

    .share-btn-container a i {
        font-size: 20px;
    }

}

html, body { background-color:rgb(219, 219, 237)}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
